<h1>New Credit Card</h1>

<%= render 'form', credit_card: @credit_card %>

<p><%= link_to "Prev", order_path(@order.id, step: 1) %></p>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
