<table>
  <thead>
    <tr>
      <th>order</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |item| %>
      <tr>
        <td><%= item.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>